.pastries-list-container {
    margin-top: 7vh;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .sub-title {
        font-size: 3em;
    }

    .pastries-container {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 20px;
        width: 100%;
        .pastries-title {
            margin-left: auto;
            margin-right: auto;
            color: var(--secondary-color-brown);
        }
        .winned-pastries-list, 
        .available-pastries-list {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            .winned-pastrie, 
            .available-pastrie {
                padding: 3px;
                border: 5px solid var(--secondary-color-brown);
                border-radius: 10px;
            }
        }
    }

}