<header class="header-container">
    <div class='button-container'>
        <a class="icon-stats" routerLink="/statistics" *ngIf="isAuth"></a>
        <a class="icon-login" routerLink="/auth" *ngIf="!isAuth"></a>
        <a class="icon-logout" (click)="logout()" *ngIf="isAuth"></a>
    </div>
    <div class="title-container">
        <span class="bread-image image"></span>
        <a class="title" routerLink="/home">BREAD'YAMS</a>
        <span class="sec-bread-image image"></span>
    </div>
</header>
