<div class="container">
    <div class="forms-container">
        <div class="left-container">
            <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
                <div class='sub-title'>S'inscrire</div>
                <div class="input-part name-part">
                    <label for="firstName">Nom</label>
                    <input type="text" id="firstName" formControlName="firstName">
                </div>
                <div class="input-part">
                    <label for="email">Email</label>
                    <input type="email" id="email" formControlName="email">
                </div>
                <div class="input-part">
                    <label for="password">Mot de passe</label>
                    <input type="password" id="password" formControlName="password">
                </div>
                <div class="input-part">
                    <label for="confirm-password">Mot de passe</label>
                    <input type="password" id="confirm-password" formControlName="confirmPassword">
                </div>
                <div>
                    <span id="error"></span>
                    <button class="submit-button"type="submit">Inscription</button>
                </div>
                <div id="register-error-message"></div>
            </form>
        </div>
        <div class="line"></div>
        <div class="right-container">
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <div class="sub-title">Se connecter</div>
                <div class="input-part name-part">
                    <label for="loginEmail">Email</label>
                    <input type="text" id="login-email" formControlName="loginEmail">
                </div>
                <div class="input-part">
                    <label for="loginPassword">Mot de passe</label>
                    <input type="password" id="login-password" formControlName="loginPassword">
                </div>
                <div>
                    <span id="login-error"></span>
                    <button class="submit-button" type="submit">Connexion</button>
                </div>
                <div id="login-error-message"></div>
            </form>
        </div>
    </div>
</div>