:root {
    --secondary-color-brown: #985B29;
    background-color: bisque;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: sans-serif;
    transition-duration: 0.1s;
}

a {
    color: black;
}
